<%= form_with(model: @result, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "ファイル名（必須）" %>
      <%= f.text_field :name, class: 'form-control' %>

      <span class="document">
        <%= f.label :document, "ファイル（必須）" %>
        <%= f.file_field :document, accept: "application/pdf", id: "file-form" %>
      </span>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>