<%= form_with(model: @member, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :position %>
      <%= f.text_field :position, class: 'form-control' %>

      <%= f.label :from %>
      <%= f.text_field :from, class: 'form-control' %>

      <%= f.label :text %>
      <%= f.text_field :text, class: 'form-control' %>
      
      <%= f.label :department %>
      <%= f.text_field :department,  class: 'form-control' %>
      
      <%= f.label :director %>
      <%= f.text_field :director, class: 'form-control' %>
      
      <%= f.label :word %>
      <%= f.text_field :word, class: 'form-control' %>
      
      <%= f.label :addmission_date %>
      <%= f.date_field :addmission_date, class: 'form-control' %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      <span class="image">
        <%= f.file_field :image, onchange: 'previewImage(preview)', accept: "image/jpeg, image/gif, image/png" %>
        <% if @member.image.attached? %>
          <%= image_tag @member.display_image, id: 'preview' %>
        <% else %>
          <%= image_tag "default.png", id: 'preview' %>
        <% end %>
      </span>
      <script>
    　　function previewImage(preview) {
          const target = this.event.target;     
          const file = target.files[0];       
          const reader = new FileReader(); 
          reader.onloadend = function() {     
            preview.src = reader.result;       
          };
        if (file) {
          reader.readAsDataURL(file);      
        } else {
          preview.src = "";
          }
        }
　　 </script>
    <% end %>